/*
add all common stylings here
 */

.root {
    -fx-font-family: "Adobe Clean Medium";
}
.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;

    /*-fx-background-color:#337ab7;*/
    /*-fx-border-color: #2e6da4;*/
}
.button{
    -fx-text-fill: black;
    /*-fx-border-color: #2e6da4#2e6da4;*/
    /*-fx-background-color: #337ab7#337ab7;*/
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}